*{
  background-color:white;

}
.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .first{
  background-color:#282c34;
}

 img{

  width:300px;
}

.gen{
  font-size: 30px;
  margin-left: 40px;
}

img{
  width: 400px;
  margin-left: 20px;
}
h1{
  font-size: 30px;
  color: red;
  text-align: center;
}

h4{
  margin-left: 20px;
  color:black;
} */


.card{
  width: 100%;
  height: 100%;
  max-width: 1000px;
}

.profile{
  width: 100%;
  height: 100%;
  max-width: 600px;
  
}
.profile img{
  width: 400px;
  height: 300px;
  
}
